@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');

body {
    background: linear-gradient(180deg, #FFF4F6 0%, rgba(255, 223, 223, 0) 100%) fixed;
}

.col-3 img{
    width: 100%;
}

.col-3 {
    padding: 0 3px !important;
}

.row {
    margin: auto;
    margin-bottom: 15px;
}

h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Glass Antiqua', cursive;
    font-size: 30px;
}

.container {
    width: 30%;
}

@media only screen and (max-width: 1900px) {
    .container {
        width: 80%;
    }
}